table {
  border-collapse: collapse;
  width: 350px;
}
td, th,tr {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(23, 57, 100);
  padding: 3px;
}

tr td:nth-child(2) {
  text-align: right;
  width: 20%;
}

tr td:nth-child(1) {
  text-align: left;
  width: 35%;
}

tr th:nth-child(1),
tr th:nth-child(2){
  background:#83bfd7;
}

tr:nth-child(even){
  background-color:#c5e0eb;
}

.blogCreated {
  text-align: center;
}
