.success {
  border: solid;
  border-width: 2px;
  border-color: rgb(2, 98, 0);
  color: rgb(0, 175, 0);
  background-color: rgb(147, 255, 145);
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.failure {
  border: 2px solid rgb(100, 2, 2);
  color: red;
  background-color: rgb(255, 144, 144);
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
